.strtbtn{
    font-family: 'Bakbak One', cursive;
    margin-top: 30%;
    color: rgb(252, 250, 245);
    

}


.botphoto img{
    max-width: 150%;
    border-radius: 50%;
    
}

.revc{
   border-radius: 20px;
}

.contact img{
     
    max-width: 60px;
    margin-right: 25px;
    
    

}

.contact img:hover{
    background-color: white;
    border-radius: 20px;
}